<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ViiniConnectionString1" connectionString="Data Source=eight.labranet.jamk.fi;Initial Catalog=Viini;Persist Security Info=True;User ID=koodari;Password=koodari13" providerName="System.Data.SqlClient" />
    <add name="MovieConnectionString" connectionString="Data Source=eight.labranet.jamk.fi;Initial Catalog=Movie;User ID=koodari;Password=koodari13" providerName="System.Data.SqlClient" />

    <add name="DemoxOyEntities" connectionString="metadata=res://*/App_Code.Ilmot.csdl|res://*/App_Code.Ilmot.ssdl|res://*/App_Code.Ilmot.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=eight.labranet.jamk.fi;initial catalog=DemoxOy;persist security info=True;user id=koodari;password=koodari13;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="valueYear" value="50" />
    <add key="valueWage" value="5000" />
    <add key="backgroundColor" value="green" />
    <add key="finnkinoteatterit" value="http://www.finnkino.fi/xml/TheatreAreas/" />
    <add key="finnkinoelokuvat" value="http://www.finnkino.fi/xml/Schedule/?area=" />
    <add key="rssfeeditMS" value="http://www.microsoft.com/presspass/rss/TopStory.xml" />
    <add key="rssfeeditSF" value="http://www.suomikiekko.com/category/smliiga/feed/" />
    <add key="rssfeeditIS" value="http://www.iltasanomat.fi/rss/uutiset.xml/" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="palautexml" value="D:\f6761\GitHub\viikkotehtava-1\App_Data\Palautteet.xml" />
    <add key="tunnus" value="jinta"/>
    <add key="salasana" value="rouppi"/>
  </appSettings>

   

  
</configuration>